*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{overflow:hidden}

.page{
  display:none;
  height:100vh;
  width:100vw;
  padding:30px;
  text-align:center;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.active{display:flex}

h1{color:#4a148c;margin-bottom:15px}
p{font-size:18px;color:#333;max-width:500px}

button{
  margin-top:20px;
  padding:12px 30px;
  border:none;
  border-radius:30px;
  background:#6a1b9a;
  color:white;
  cursor:pointer;
}

input{
  margin:8px 0;
  padding:10px;
  border-radius:20px;
  border:none;
  text-align:center;
}

.hint{
  color:#d81b60;
  margin-top:10px;
  font-size:14px;
}

/* Backgrounds */
.bg1, .bg2, .bg3, .bg4, .bg5, .bg6{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg1{background-image:url("img\ 2.jfif")}
.bg2{background-image:url("img\ 4.jfif")}
.bg3{background-image:url("img\ 4.jfif")}
.bg4{background-image:url("img\ 5.jfif")}
.bg5{background-image:url("img\ 4.jfif")}
.bg6{background-image:url("img\ 5.jfif")}


/* Typing */
.typing{
  white-space:nowrap;
  overflow:hidden;
  border-right:3px solid #4a148c;
  width:0;
  animation:typing 4s steps(40,end) forwards;
}
@keyframes typing{to{width:100%}}

/* Cats */
.cats{
  display:flex;
  gap:40px;
  font-size:50px;
  margin:20px 0;
}
.cat{
  animation:dance 1s infinite alternate;
}
@keyframes dance{
  from{transform:translateY(0)}
  to{transform:translateY(-15px)}
}

/* Gallery */
.gallery{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  margin-top:30px;
  width:90%;
  max-width:900px;
}
.note{
  font-size:17px;
  line-height:1.8;
  max-width:700px;
  margin-top:20px;
  color:#3a3a3a;
}

.gallery img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
.slider{
  width:80%;
  max-width:400px;
  margin:30px auto;
}

.slider img{
  width:100%;
  height:450px;
  object-fit:cover;
  border-radius:25px;
  box-shadow:0 15px 30px rgba(0,0,0,0.3);
}

.slider-btns{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:15px;
}

.slider-btns button{
  padding:10px 20px;
  font-size:20px;
}
.gift-box{
  font-size:100px;
  cursor:pointer;
  margin:30px 0;
  transition:transform 0.3s;
}

.gift-box:hover{
  transform:scale(1.1);
}

.tap-text{
  font-size:16px;
  color:#555;
}

.gift-img{
  width:300px;
  margin-top:20px;
  border-radius:25px;
  box-shadow:0 15px 30px rgba(0,0,0,0.3);
}

.hidden{
  display:none;
}

